@media only screen and (min-width: 400px) and (max-width: 450px){
    body{
        background-color: #d9c0aa;
    }
    .encabezado{
        background-size: 100%;
    }
    .nav-link{
        color: #a8a5a5;
    }
    .arriba{
        z-index: 2;
    }
    .tituloContactate{
        font-size: 30px;
    }
    .formulario{
        padding: 1.5em 1em;
    }
    .imagenLole{
        width: 200px;
    }    
    .tituloLole{
        font-size: 30px;
    }
    .parrafoLole{
        font-size: 20px;
    }
    .tratamientos{
        max-width: 380px;
    }
    .galeriaFondo{
        background-color: #eae3d3;
    }
    .navFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navFooterItem{
        font-size: 16px;
        padding: 10px;
    }
    .socialFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .fa-instagram{
        padding-left: 0px;
    }
    .fa-whatsapp{
        padding-right: 10px;
    }
    .derechos{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .copy{
        font-size: 0.75rem;
    }
    .leyenda{
        font-size: 0.75rem;
    }
}